/* ===== Background gradient ===== */
.bg {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    37deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(41, 47, 54, 1) 27%,
    rgba(109, 174, 219, 1) 100%
  );
  padding-bottom: 20px;
}
.hidden {
  display: none;
}
.lineBreak {
  margin: 50px auto 50px auto;
  width: 75%;
}

/* ===== NavBar ===== */
.brand-logo {
  margin-left: 5px;
  font-family: "Cookie", cursive;
  font-size: 35px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #f3fcf0;
}
.navLinks {
  margin-right: 5px;
  font-family: "Raleway", sans-serif;
}

/* ===== Home Page ===== */
.welcome {
  font-size: 75px;
  font-family: "Cookie", cursive;
  margin-left: 20px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #f3fcf0;
  text-shadow: 2px 2px 2px #6daedb;
}
.brandSlogan {
  font-family: "Raleway", sans-serif;
  font-size: 25px;
  text-shadow: 2px 2px 10px #6daedb;
  margin: 0px 10px 0px 10px;
}
.upcomingContainer {
  margin: 75px 0px 100px 0px;
}
.upcoming {
  font-family: "Raleway", sans-serif;
  text-shadow: 2px 2px 10px #6daedb;
}

/* ===== About Page ===== */
.aboutUsHeader {
  font-size: 25px;
  font-family: "Montserrat", sans-serif;
}
.aboutUsDiv {
  background-color: black;
}
.aboutUsText {
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  padding: 10px;
}
.carouselDiv {
  margin-bottom: 50px;
}
.carousel-item {
  border-radius: 100px;
}
ion-icon {
  font-size: 40px;
}

/* ===== Contact page ===== */
.contactLottie {
  height: 100vh;
}
.contactDiv {
  height: 100vh;
}
.contactHeader {
  font-size: 50px;
  font-family: "Montserrat", sans-serif;
}
.contactText {
  font-size: 25px;
  font-family: "Raleway", sans-serif;
  text-shadow: 2px 2px 8px #6daedb;
}

/* ===== Contact message responses ===== */
.thanksMessage,
.errorMessage,
.loadingGif {
  height: 100vh;
  width: 90%;
  margin: auto;
}
.responseMessage {
  margin-top: 75px;
}
.responseIcon {
  font-size: 40px;
}

/* =========== OVER 800px ========== */
@media only screen and (min-width: 825px) {
  /* ===== NavBar ===== */
  .brand-logo {
    margin-left: 45px;
    font-size: 45px !important;
  }
  .navLinks {
    margin-right: 40px;
  }

  /* ===== Home Page ===== */
  .welcome {
    margin-left: 0px;
  }
  .brandSlogan {
    font-size: 35px;
  }

  /* ===== About Page ===== */
  .aboutLottie {
    height: 400px;
  }
  .aboutUsText {
    margin: 0px 200px;
  }
  .iconRow {
    width: 25%;
  }

  /* ===== Contact Page ===== */
  .contactDiv {
    width: 50%;
    margin: auto;
  }
}
